@import url("../../styles.css");

/* ---searchbar--- */

.searchbar-wrapper {
  width: 40%;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.searchbar {
  width: 100%;
  padding: 0.4rem 0.5rem;
  padding-right: 2.5rem;
  border: 1px solid white;
  border-radius: 0.75rem;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  right: 1rem;
  font-size: 1rem;
}

/* ---main--- */

main {
  background-color: var(--secondary-color-dark);
}

/* ---filterbar--- */

.filterbar {
  width: 18%;
  height: 90vh;
  padding: 1rem;
  position: sticky;
  box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-color);
  overflow: auto;
}

.filterbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter-clear {
  color: var(--text-color-dark);
  cursor: pointer;
}

.filterbar-list > li > input {
  margin-right: 0.5rem;
}

.filterbar-item {
  margin-bottom: 1.5rem;
}

.slider {
  width: 80%;
  height: 3rem;
  margin-top: 0.5rem;
}

.slider-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.slider-input {
  width: 100%;
  cursor: pointer;
}
